RequestLogger/TestUI/bin
RequestLogger/TestUI/obj
RequestLogger/RequestLogger/obj
RequestLogger/RequestLogger/bin
RequestLogger/.vs
RequestLogger/TestUI/bin/Debug/netcoreapp2.1/TestUI.runtimeconfig.dev.json
RequestLogger/TestUI/bin/Debug/netcoreapp2.1/TestUI.pdb
RequestLogger/TestUI/bin/Debug/netcoreapp2.1/TestUI.dll
RequestLogger/TestUI/bin/Debug/netcoreapp2.1/TestUI.deps.json
RequestLogger/TestUI/bin/Debug/netcoreapp2.1/RequestLogger.pdb
RequestLogger/TestUI/bin/Debug/netcoreapp2.1/RequestLogger.dll
RequestLogger/RequestLogger/obj/project.assets.json
RequestLogger/RequestLogger/obj/Net.CrossCutting.RequestLogger.csproj.nuget.g.targets
RequestLogger/RequestLogger/obj/Net.CrossCutting.RequestLogger.csproj.nuget.g.props
RequestLogger/RequestLogger/obj/Net.CrossCutting.RequestLogger.csproj.nuget.cache
RequestLogger/RequestLogger/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RequestLogger/RequestLogger/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RequestLogger/RequestLogger/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RequestLogger/RequestLogger/obj/Debug/netcoreapp2.1/Net.CrossCutting.RequestLogger.csprojAssemblyReference.cache
RequestLogger/RequestLogger/obj/Debug/netcoreapp2.1/Net.CrossCutting.RequestLogger.csproj.CoreCompileInputs.cache
RequestLogger/RequestLogger/obj/Debug/netcoreapp2.1/Net.CrossCutting.RequestLogger.assets.cache
RequestLogger/RequestLogger/obj/Debug/netcoreapp2.1/Net.CrossCutting.RequestLogger.AssemblyInfoInputs.cache
RequestLogger/RequestLogger/obj/Debug/netcoreapp2.1/Net.CrossCutting.RequestLogger.AssemblyInfo.cs
